<h1>Bienvenue <%= @first_name.capitalize %> !</h1> 
<p>Ici c'est notre super site de potins, il est chouette, non ?</p><br>

<p>Voici la liste des potins : </p>

<% Gossip.all.each do |gossip| %>
<%= "#{gossip.content} - Un gossip raconté par #{gossip.user.first_name}" %><br>
<% end %>

<%# Gossip.first(30).each do |gossip| %>