<h1>Bienvenue <%= @first_name.capitalize %> !</h1> 
<p>Ici c'est notre super site de potins, il est chouette, non ?</p><br>

<p>Voici la liste des potins : </p>

<br>

<div class="card">
<% Gossip.all.each do |gossip| %>
  <div class="card-header" style="width: 25rem;">
    <%= gossip.title %>
  </div>
  <div class="card-body" style="width: 25rem;">
    <blockquote class="blockquote mb-0">
      <p><%= gossip.content %></p>
      <footer class="blockquote-footer">Un gossip raconté par <cite title="Source Title"><%= gossip.user.first_name %></cite></footer>
    </blockquote>
  </div>
  <br>
  <% end %>
</div>